extends layout.pug

block content
    main
        form(action='/topics', method='post')
            if  topic === undefined
                input(type='text', name='title' placeholder='제목')
                br
                textarea(placeholder='내용' name='description')
            else
                input(type='text', name='title' placeholder='제목' value=`${topic.title}`)
                br
                textarea(placeholder='내용' name='description')=topic.description
            br
            input(type='submit', value='Create')
