body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: black;
  padding: 50px 16px 40px 16px;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.row > span {
  width: calc(60% + 20px);
  text-align: right;
  font-size: 30px;
  margin-right: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

button {
  width: 20%;
  height: 70px;
  font-size: 20px;
  border-radius: 15px;
  color: white;
  background-color: #363439;
  border: 0;
}

button:not(:last-child) {
  margin-right: 10px;
}

button.zero {
  width: calc(40% + 10px);
}

button.operator {
  background-color: #fe8e00;
}

button.reset {
  background-color: #a7aab1;
}

button:focus {
  outline: none;
}

button:active {
  opacity: 0.8;
}
