@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: 0;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f3f3f5;
  font-family: "Do Hyeon", sans-serif;
}

.column {
  width: 273px;
  height: 580px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1), -2px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 40px;
  box-sizing: border-box;
  padding: 26px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.artist-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  padding: 15px 30px 30px 30px;
}

.artist-description img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 4px 14px #f3beac;
  margin-bottom: 30px;
}

.artist-description__name {
  font-size: 26px;
  margin-bottom: 10px;
}

.artist-description__genre {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.artist-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist-btns button {
  width: 92px;
  height: 32px;
  border: 0;
  border-radius: 20px;
  font-size: 11px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.artist-btns__shuffle {
  background-color: #222222;
  color: white;
  margin-right: 17px;
}

.artist-btns__likes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.01);
  color: #c1bfc4;
  font-weight: 700;
}

.artist-btns__likes i {
  margin-right: 3px;
  color: #222222;
}

.artist-btns__likes span {
  font-size: 12px;
}

.play-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.play-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px;
  border-radius: 12px;
}

.play-list__item.playing {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.play-list__item img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  margin-right: 12px;
}

.playing-img-cover {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-img-cover__bar {
  width: 3px;
  height: 7px;
  margin: 0 1px;
  border-radius: 2px;
  background-color: white;
  animation: playing-bar 1s ease-in-out infinite;
}

@keyframes playing-bar {
  0% {
    transform: none;
  }
  50% {
    border-radius: 1px;
    height: 13px;
  }
  100% {
    transform: none;
  }
}

.playing-img-cover__bar:nth-child(1) {
  animation-delay: 0s;
}

.playing-img-cover__bar:nth-child(2) {
  animation-delay: 0.3s;
}

.playing-img-cover__bar:nth-child(3) {
  animation-delay: 0.15s;
}

.play-list__item__text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.play-list__item__text__artist-name {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.play-list__item__text__song-name {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
}

.play-list__item__btn {
  font-size: 12px;
  opacity: 0.5;
}

.mini-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
  height: 54px;
  border-radius: 30px;
  background-color: #222222;
  position: absolute;
  bottom: 52px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  padding: 10px 25px;
}

.mini-controller__text {
  display: flex;
  flex-direction: column;
  color: white;
}

.mini-controller__text__artist-name {
  font-size: 12px;
  opacity: 0.4;
  margin-bottom: 5px;
}

.mini-controller__text__song-name {
  font-size: 14px;
}

.mini-controller__btns {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.mini-controller__btns i {
  color: white;
  font-size: 10px;
}

.mini-controller__btns button:nth-child(2) i {
  font-size: 12px;
}

@media screen and (max-width: 728px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}
