.find-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px;
    margin-bottom: 25px;
}

.find-icons__icon span {
    text-align: center;
}

.recommended-friends {
    margin-top: 25px;
    padding: 20px 0;
    border-top: var(--contour);
    border-bottom: var(--contour);
}

.recommended-friends__title {
    color: var(--gray);
}

.recommended-friends span {
    display: block;
    text-align: center;
    align-items: center;
    margin: 115px 0;
    color: var(--gray);
    font-size: 20px;
}