.friends-screen {
    padding: var(--horizontal-space);
}

#friends-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    width: 100%;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header {
    border-top: var(--contour);
    margin-top: 20px;
    padding: 18px 0;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#splash-screen {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-size: 130px;
    color: #3C1D1E;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}