.friends-screen {
    padding: var(--horizontal-space);
}

#friends-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    width: 100%;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel-header {
    border-top: 1px solid rgba(147, 144, 144, 0.2);
    margin-top: 20px;
    padding: 18px 0;
    color: rgba(139, 136, 136, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}