@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* components */
@import "componenets/status-bar.css";
@import "componenets/nav-bar.css";
@import "componenets/screen-header.css";
@import "componenets/user-componenet.css";
/* screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
    color: #2F363E;
    font-family: "Open Sans", sans-serif;
}

.main-screen {
    padding: 0 var(--horizontal-space);
    margin-top: 10px;
}