.nav {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 40px;
    background-color: #F9F9FA;
    border-top: 1px solid rgba(164, 161, 161, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: tomato;
    color: white;
    font-weight: 600;
}

.nav_dot_notification{
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    bottom: 30px;
    right: -5px;
}