.user-component,
.user-component__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 35%;
}

.user-component__text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-component__title {
    font-size: 22px;
    font-weight: 600;
}

.user-component__subtitle {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
}

.user-component__column:last-child {
    color: rgba(139, 136, 136, 0.9);
}

.user-component__chevron span {
    margin-right: 5px;
    font-size: 20px;
}

.user-component__title--sm {
    font-weight: 200;
}

.user-component__time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time span {
    font-size: 15px;
}

.user-component__time span:first-child {
    color: rgba(139, 136, 136, 0.7);
    margin-bottom: 10px;
}

